config SECURITY_SECCOMP
	bool "Seccomp LSM support"
	depends on AUDIT
	depends on SECCOMP
	depends on SECURITY
	default y
	help
	  This selects an extension to the Seccomp BPF to be able to filter
	  syscall arguments as kernel objects (e.g. file path).
	  This stacked LSM is needed to detect and block race-condition attacks
	  against argument evaluation (i.e. TOCTOU). Further information can be
	  found in Documentation/prctl/seccomp_filter.txt .

	  If you are unsure how to answer this question, answer Y.
